.end {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

ul {
  height: 100%;
  margin-top: 20px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

li {
  list-style: none;
  font-size: 0.7rem;
}

.end button {
  align-self: center;
}
