.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}

.vidMonster {
  height: 23%;
  display: flex;
  font-size: 0.5rem;
}

.vidMonster-info {
  padding-left: 15px;
  display: flex;
  align-items: center;
  width: 55%;
}

.vidMonster-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 2px solid;
  border-radius: 15px;
}

.vidMonster-text {
  display: flex;
  justify-content: space-between;
}

.vidMonster-health {
  display: flex;
  justify-content: center;
}

.vidMonster-img {
  width: 45%;
  display: flex;
  justify-content: center;
}

.vidMonster-animation {
  animation: vidMonster-animation 1s infinite;
}

.player {
  height: 23%;
  display: flex;
  flex-direction: row-reverse;
  font-size: 0.5rem;
}

.player-info {
  padding-right: 15px;
  display: flex;
  align-items: center;
  width: 55%;
}

.player-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 2px solid;
  border-radius: 15px;
}

.player-text {
  display: flex;
  justify-content: space-between;
}

.player-health {
  display: flex;
  justify-content: center;
}

.player-img {
  width: 45%;
  display: flex;
  justify-content: center;
}

.player-animation {
  animation: player-animation 1s infinite;
}

.menu {
  height: 54%;
  background-color: #acacac;
  padding: 10px;
}

.menu-text {
  height: 25%;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-text p {
  font-size: 0.85rem;
}

.menu-buttons {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;
}

.menu-buttons button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px;
  font-size: 0.5rem;
  height: 23%;
  background-color: #fff;
}

.menu-buttons button:hover,
.menu-buttons button:focus {
  border: 2px solid;
  cursor: pointer;
}

@keyframes vidMonster-animation {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(4deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes player-animation {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(4deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* media queries */
@media (min-width: 451px) {
  .vidMonster {
    height: 37.5%;
  }
  .vidMonster-box {
    padding: 20px;
  }
  .vidMonster-text {
    justify-content: space-evenly;
  }
  .vidMonster-text p {
    font-size: 0.7rem;
  }
  .vidMonster-health label,
  .vidMonster-health progress {
    font-size: 0.6rem;
  }
  .player {
    height: 37.5%;
  }
  .player-box {
    padding: 20px;
  }
  .player-text {
    justify-content: space-evenly;
  }
  .player-text p {
    font-size: 0.7rem;
  }
  .player-health label,
  .player-health progress {
    font-size: 0.6rem;
  }
  .menu {
    height: 25%;
  }
  .menu-text {
    height: 50%;
  }
  .menu-buttons {
    height: 50%;
    flex-direction: row;
  }
  .menu-buttons button {
    width: 24%;
    height: auto;
  }
}
