.start {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 2.2rem;
  letter-spacing: 0.25rem;
}

.start input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.start button {
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-top: 60px;
  border: none;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button:hover,
button:focus {
  background-color: #acacac;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  margin-top: 20px;
  width: 220px;
  border: none;
  border-bottom: 3px dotted;
  text-align: center;
  font-size: 0.8rem;
}
